streamlit
pandas
PyMuPDF
pytesseract
Pillow
pypdf
python-docx
openpyxl
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
groq
python-dotenv
duckduckgo-search
